*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    font-weight: bold;
}

li{
    list-style: none;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 15px;
}


.submit-button{
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: bolder;
    width: 100px;
}

.reset-button{
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: bolder;
    width: 100px;
}

.submit-button:hover , .reset-button:hover{
    transform: translateY(-2px);
}


/* NAVBAR */
nav{
    background-color: black;
    padding: 20px 40px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    color: whitesmoke;
    font-weight: bolder;
    font-size: x-large;
}

nav ul{
    display: flex;
    gap: 50px;
}

nav a{
    color: grey;
}

nav a:hover{
    color: whitesmoke;
}



/* INDEX PAGE */
.products{
    display: flex;
    margin: 40px;
    align-items: center;
    gap: 30px;
}

.products h2{
    margin-left: 30px;
}

.product-image{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.details-button{
    background-color: blue;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 12px;
    margin-left: 20px;
    color: white;
}

 .details-button:active{
    color:black
 }

.details-button:hover {
    transform: translateY(-2px);
}


/* VIEW PAGE */
.product{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
}

.product-price{
    color: green;
    padding: 20px 0;
}

.product-name{
    text-decoration: underline;
}

.product-desc{
    max-width: 500px;
    line-height: 1.6;
}

.buttons{
    margin: 30px 0;
}

.stock-message {
    color: red;
    text-decoration: underline;
}
.cart-button{
    background-color: blue;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
}

.buy-button{
    background-color: rgb(225, 225, 2);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}



/* LOGIN PAGE */
.auth-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container{
    border: 2px solid black;
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(213, 206, 206);
}

.auth-container h2, .auth-container p{
    text-align: center;
}

.auth-container input{
    width: 90%;
    margin: 12px auto;
    padding: 8px;
    display: block;
}

.auth-container input:hover{
    border-color: blue;
    outline: none;
}


.auth-container a:hover{
    color: rgb(44, 44, 228);
}


/* ADMIN DASHBOARD */

.edit-button {
    background-color: blue;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
}



/* Category field*/
.layout{
    display: flex;
    gap: 40px;
    padding: 30px;
    align-items: flex-start;
}


.sidebar{
    flex: 0 0 250px;      
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar li{
    margin-bottom: 12px;
}

.sidebar a{
    text-decoration: none;
    font-weight: 600;
    color: #222;
    display: block;
    padding: 8px 10px;
    border-radius: 6px;
}

.sidebar a:hover{
    color: red;
}

/* CONTENT AREA */
.content{
    flex: 1;              
}


.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
}


.card{
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background: white;
    transition: 0.2s ease;
}

.card a{
    display: inline-block;
    padding: 8px 16px;
    background: blue;      
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

.card a:hover{      
    transform: translateY(-2px);
}


.card img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}


/* Delete button */
.delete-button {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
}



/* Add Products Page */
.add-prodcont {
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 8px;
    width: 500px;
    margin: 40px auto;      
    padding: 30px;
    display: flex;
    flex-direction: column;  
    gap: 12px;               
}

.add-prodcont h1{
    text-align: center;
    text-decoration: underline;
}

.add-prodcont button:hover{
    transform:translateY(3px);
}




/* Edit Products Page */
.edit-prodcont{
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 8px;
    width: 500px;
    margin: 40px auto;      
    padding: 30px;
    display: flex;
    flex-direction: column;  
    gap: 12px;
}


.edit-prodcont button:hover{
    transform: translateY(3px);
}

.edit-prodcont h1{
    text-align: center;
    text-decoration: underline;
}


/* Contact form*/
.contact-form {
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 8px;
    width: 500px;
    margin: 40px auto;      
    padding: 30px;
    display: flex;
    flex-direction: column;  
    gap: 12px;
}

.contact-form h1{
    text-align: center;
    text-decoration: underline;

}

.contact-form input,textarea {
    text-align: center;
}


.contact-form input{
    width: 450px;
    height: 30px;
}

.contact-form textarea{
    width: 450px;
    height: 100px;
}

.contact-form textarea:hover ,input:hover{
    border-color: blue;
}

