{% extends 'products/base.html' %}

{% block body %}

<div class="auth-page">
    <div class="auth-container">
        <h2>Login</h2>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <input type="text" placeholder="Enter your name" name="username" required>
            <input type="password" placeholder="Enter Your Password" name="password" required >
            <button class="submit-button" type="submit">Submit</button>
            <button class="reset-button" type="reset">Reset</button>
        </form>
        <div class="switch">
            <h5>New user ? <a href="{% url 'register' %}">Register</a></h5>
        </div>
    </div>
</div>
{% endblock %}