{% extends 'products/base.html' %}


{% block body %}

<form class="add-prodcont" method="post">
    {% csrf_token %}
        
    <h1>Add-Products</h1>


    <label >Product name</label>
    {{ form.product_name }}
        
    <label >Product price</label>
    {{ form.product_price }}

    <label >Product category</label>
    {{ form.product_category }}

    <label >Product stock</label>
    {{ form.product_stock }}

    <label >Product desc</label>
    {{ form.product_desc }}

    <label >Product image</label>
    {{ form.product_image }}
        
    <button type="submit">Submit</button>
</form>

{% endblock %}