{% extends 'products/base.html' %}

{% block body %}

<div>
    <table class="det-table">
        <tr class="table-head">
            <th class="table-head">S.no</th>
            <th class="table-value">First name</th>
            <th class="table-value">Last name</th>
            <th class="table-value">Brand name</th>
            <th class="table-value">Email</th>
            <th class="table-value">Role</th>
            <th class="table-value">Action</th>
        </tr>

        {% for i in users %}
            <tr class="table-row">
                <td class="table-value">{{ forloop.counter }}</td>
                <td class="table-value" >{{ i.first_name }}</td>
                <td class="table-value" >{{ i.last_name }}</td>
                <td class="table-value">{{ i.brand.brand_name }}</td>
                <td class="table-value" >{{ i.email }}</td>
                <td class="table-value" >Staff</td>
                <td><a href="{% url 'dashboard:delete_user' i.id %}">Remove</a></td>
            </tr>
        {% empty %}
            <h1>No Staffs</h1>
        {% endfor %}
    </table>
</div>

{% endblock %}