*  {
    padding: 0px;
    margin: 0px;
    color: black;
}

a{
    text-decoration: none;
    font-weight: bold;
}

li{
    list-style: none;
}

nav{
    background-color: black;
    padding: 20px;
    border-radius: 8px;
}

.name{
    color: whitesmoke;
    font-weight: bolder;
    font-size: x-large;
}

nav a{
    color: grey;
    padding-left: 15px;
}

nav{
    display: flex;
}

nav ul{
    padding-left: 60%;
    display: flex;
    gap: 50px;
}

nav a:hover{
    color: whitesmoke;
}




/*For index page : 'index.html' */
.products{
    display: flex;
    margin: 40px;
}

.products h2{
    margin-left: 30px;
}

.product-image{
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.details-button{
    background-color:blue;
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
    margin-left: 20px;
    color: white;
}

.details-button:hover{
    color: black;
}







/* For View page : 'view.html' */


.product{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.product-price{
    color: green;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-name{
    text-decoration: underline;
}

.product-desc{
    max-width: 500px;
    line-height: 1.6;
}

.cart-button{
    background-color: blue;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.buy-button {
    background-color: rgb(225, 225, 2);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.buttons{
    margin: 30px;
}





/* login page 'registration/login.html/ */

.auth-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.auth-container {
    border: 2px solid black;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(213, 206, 206);
}

.auth-container input {
    margin: 15px;
    display: block;
}

.auth-container h2,p{
    text-align: center;
}

.auth-container a:hover{
    color: rgb(44, 44, 228);
}

.auth-container button{
    margin-left: 30px;
}

.auth-container input:hover{
    border-color: blue;
    outline: none;
}