* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family:  sans-serif;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

.nav-list{
    background-color: black;
}

.nav-list ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;    
}

.nav-list a{
    color: whitesmoke;
}

.image-content {
    display: flex;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
}

.image{
    border-radius: 10px;
}

.text-content {
    margin-left: 50px;
    margin-right: 50px;
}

.text-content h2{
    padding-bottom: 10px;
}

.text-content h3{
    color: green;
}

.view-button {
    background-color: blue;
    height: fit-content;
    padding: 8px;
    border-radius: 8px;
}

.details{
    display: flex;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
    height: 500px;
}


.details-image{
    height: 200px;
}

.details-image .image{
    border-radius: 10px;
    width: 510px;
    height: 300px;
}

.details-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    margin-left: 50px;
    width: 600px;
}

.details-content h1{
    text-decoration: underline;
}

.details-content h2{
    color: green;
}

.details-content h3{
    font-weight: none;
    font-family: 'Gill Sans', 'Gill Sans MT';
}