*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    font-weight: bold;
}

li{
    list-style: none;
}



/* NAVBAR */
nav{
    background-color: black;
    padding: 20px 40px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    color: whitesmoke;
    font-weight: bolder;
    font-size: x-large;
}

nav ul{
    display: flex;
    gap: 50px;
}

nav a{
    color: grey;
}

nav a:hover{
    color: whitesmoke;
}



/* INDEX PAGE */
.products{
    display: flex;
    margin: 40px;
    align-items: center;
    gap: 30px;
}

.products h2{
    margin-left: 30px;
}

.product-image{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.details-button{
    background-color: blue;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 12px;
    margin-left: 20px;
    color: white;
}
 .details-button:active{
    color:black
 }



/* VIEW PAGE */
.product{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
}

.product-price{
    color: green;
    padding: 20px 0;
}

.product-name{
    text-decoration: underline;
}

.product-desc{
    max-width: 500px;
    line-height: 1.6;
}

.buttons{
    margin: 30px 0;
}

.cart-button{
    background-color: blue;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
}

.buy-button{
    background-color: rgb(225, 225, 2);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}



/* LOGIN PAGE */
.auth-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container{
    border: 2px solid black;
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(213, 206, 206);
}

.auth-container h2, .auth-container p{
    text-align: center;
}

.auth-container input{
    width: 90%;
    margin: 12px auto;
    padding: 8px;
    display: block;
}

.auth-container input:hover{
    border-color: blue;
    outline: none;
}

.auth-container button{
    display: block;
    margin: 15px auto;
    padding: 8px 15px;
}

.auth-container a:hover{
    color: rgb(44, 44, 228);
}


/* ADMIN DASHBOARD */

.edit-button {
    background-color: blue;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
}