* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', sans-serif;
}


body {
    background-color: bisque;
}


nav ul{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
}

nav li{
    list-style: none;
}


nav a{
    color: whitesmoke;
    text-decoration: none;

}

a:hover{
    color: red;
}

.image_content{
    padding: 50px;
    display: flex;
}

.image{
    border-radius: 15px;
    border-color: black;
    border-style: dotted;
}

.image_content h3{
    padding-left: 20px;
    padding-top: 10px;
}