{% extends 'products/base.html' %}
{% load static %}
{% block body %}

<div class="form-container">
    <form class="address-form" method="post" action="{% url 'payment-page' data.id %}">
        {% csrf_token %}

        <label for="country">Country</label>
        <input type="text" id="country" name="house">

        <label for="fullname">Full name (First and last name)</label>
        <input type="text" id="fullname" name="fullname">

        <label for="mobilenumber">Mobile number</label>
        <input type="number" id="mobilenumber" name="mobilenumber">

        <label for="flat-no">Flat, House no, Building</label>
        <input type="text" id="flat-no" name="flat-no">

        <label for="area">Area, Street, Village</label>
        <input type="text" id="area" name="area">

        <label for="landmark">Landmark</label>
        <input type="text" id="landmark" name="landmark">

        <label for="pincode">Pincode</label>
        <input type="number" id="pincode" name="pincode">

        <label for="city">Town/City</label>
        <input type="text" id="city" name="city">

        <label for="state">State</label>
        <input type="text" id="state" name="state">

        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}