{% extends 'products/base.html' %}
{% load static %}
{% block body %}

<div class="payment-cont1">
    <div class="payment-cont2">
        <h2 class="payment-title">Complete Payment</h2>
        <p class="payment-product">Product: {{ product.product_name }}</p>
        <p class="payment-price">Price: ₹{{ product.product_price }}</p>
        
        <form action="{% url 'payment_success' %}" method="POST">
        {% csrf_token %}

        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="{{ razorpay_key }}"
            data-amount="{{ amount }}"
            data-currency="INR"
            data-order_id="{{ order_id }}"
            data-buttontext="Pay Now"
            data-name="My Shop"
            data-description="{{ product.product_name }}"
            data-theme.color="#3399cc">
        </script>

        </form>
    </div>
</div>
{% endblock %}