{% extends 'products/base.html' %}

{% block body %}

<div class="layout">
    <aside class="sidebar">
        <ul>
            {% for value,label in category %}
                <li><a href="{% url 'cat_filter' value %}">{{ label }}</a></li>
            {% endfor %}
            <li><a href="{% url 'category' %}">All products</a></li>
        </ul>
    </aside>

    <section class="content">
        <div class="grid">
            {% for product in products %}
            <div class="card">
                <img src="{{ product.product_image }}">
                <h4>{{ product.product_name }}</h4>
                <p>₹ {{ product.product_price }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
</div>


{% endblock %}